---
import Common from "../../layouts/Common.astro";
import Card from "../../components/Card.astro";
import { Temporal } from "temporal-polyfill";

export async function getStaticPaths({ paginate }) {
    const posts = (await Astro.glob("/src/content/article/*.{md,mdx}")).sort(
        (a, b) =>
            Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date),
    );

    return paginate(posts, { pageSize: 10 });
}
const { page } = Astro.props;
---

<Common
    url={Astro.url.href}
    type="blog"
    title="屋根裏"
    description="紙が散らばっている"
    image=""
>
    <main>
        <ul class="article-list">
            {
                page.data.map((p) => (
                    <Card
                        title={p.frontmatter.title}
                        href={"/blog/" + p.file.split("/").pop().split(".")[0]}
                        body={p.frontmatter.description}
                        date={Temporal.PlainDate.from(
                            p.frontmatter.date.slice(0, 10),
                        ).toString()}
                    />
                ))
            }
        </ul>
        <ul class="page-list">
            {
                () => {
                    if (page.url.prev != null) {
                        return (
                            <a class="page prev" href={page.url.prev}>
                                <li>{page.currentPage - 1}</li>
                            </a>
                        );
                    } else {
                        return;
                    }
                }
            }
            <li class="page pres">{page.currentPage}</li>
            {
                () => {
                    if (page.url.next != null) {
                        return (
                            <a class="page next" href={page.url.next}>
                                <li>{page.currentPage + 1}</li>
                            </a>
                        );
                    } else {
                        return;
                    }
                }
            }
        </ul>
    </main>
</Common>
<style>
    ul {
        list-style: none;
        margin: auto;
        padding: 0;
    }
    .article-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .page-list {
        margin-inline: auto;
        margin-block: 2rem;
        display: grid;
        justify-content: center;
        grid-template-rows: 2.5rem;
        grid-template-columns: 2rem 2rem 2rem;
    }
    .page {
        box-sizing: border-box;
        padding: 0.5rem;
        border: 1px solid #1d1d1d;
        color: #1d1d1d;
    }
    .prev {
        grid-column: 1/2;
        text-align: center;
    }
    .pres {
        grid-column: 2/3;
        background: #1d1d1d;
        text-align: center;
        color: #fffefd;
    }
    .next {
        grid-column: 3/4;
        text-align: center;
    }
    a {
        color: #1d1d1d;
        text-decoration: none;
    }
</style>
