---
import Common from "../../layouts/Common.astro";
import Card from "../../components/Card.astro";

export async function getStaticPaths({ paginate }) {
    const posts = (await Astro.glob("../../pages/blog/article/*.md")).sort(
        (a, b) =>
            Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date),
    );

    return paginate(posts, { pageSize: 2 });
}
const { page } = Astro.props;
---

<Common title="屋根裏">
    <main>
        <ul class="article-list">
            {
                page.data.map((p) => (
                    <Card
                        title={p.frontmatter.title}
                        href={p.url}
                        body={p.frontmatter.description}
                    />
                ))
            }
        </ul>
        <ul class="page-list">
            {
                () => {
                    if (page.url.prev != null) {
                        return (
                            <li class="prev">
                                <a href={page.url.prev}>
                                    {page.currentPage - 1}
                                </a>
                            </li>
                        );
                    } else {
                        return;
                    }
                }
            }
            <li class="pres">{page.currentPage}</li>
            {
                () => {
                    if (page.url.next != null) {
                        return (
                            <li class="next">
                                <a href={page.url.next}>
                                    {page.currentPage + 1}
                                </a>
                            </li>
                        );
                    } else {
                        return;
                    }
                }
            }
        </ul>
    </main>
</Common>
<style>
    ul {
        list-style: none;
    }
    .article-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
</style>
