---
import Common from "../layouts/Common.astro";
import json from "../content/.bookie_clicker/lib.json";
---

<Common
    url={Astro.url.href}
    type="article"
    title="ほんだな"
    description="しまっていくぜ"
    image=""
>
    <h1>読んだ本</h1>
    <table>
        <thead
            ><tr>
                <td> タイトル</td>
                <td> 状態</td>
                <td> 最後に読んだ日</td>
                <td> 最後のメモ</td>
            </tr>
        </thead>
        <tbody>
            {
                json.items.map((book) => {
                    const title = book.attr.title + " " + book.attr.subtitle;
                    const readStatus = (() => {
                        if (book.status.readStatus === "Read") {
                            return "読了";
                        } else if (book.status.readStatus === "Reading") {
                            return "読んでいる";
                        } else {
                            return "読みたい";
                        }
                    })();
                    const latestReadDate = book.status.progresses[0].termEnd;
                    const latestMemo = book.status.progresses[0].memo;
                    return (
                        <tr>
                            <td>
                                <a
                                    href={
                                        "https://www.amazon.co.jp/s?k=" + title
                                    }
                                >
                                    {title}
                                </a>
                            </td>
                            <td>{readStatus}</td>
                            <td>{latestReadDate}</td>
                            <td>{latestMemo}</td>
                        </tr>
                    );
                })
            }</tbody
        >
    </table>
</Common>
