---
import ProgressBar from "./Progressbar.astro";

type Book = {
    attr: {
        isbn: string;
        title: string;
        subtitle: string;
        authors: string[];
        imageUrl: string;
        totalPageCount: number;
    };
    status: {
        readStatus: string;
        combinedFlag: {
            b64: string;
        };
        progresses: {
            termStart: string;
            termEnd: string;
            flag: {
                b64: string;
            };
            memo: string;
        }[];
    };
};
interface Props {
    book: Book;
}
const { book } = Astro.props;
const attr = book.attr;
const status = book.status;

const title = attr.title + " " + attr.subtitle;

const readStatus = (() => {
    if (book.status.readStatus === "Read") {
        return 100;
    } else if (book.status.readStatus === "Reading") {
        let bstr = atob(book.status.combinedFlag.b64);
        let sum = Uint8Array.from(bstr, (str) => str.charCodeAt(0)).reduce(
            (sum, cur) => {
                for (let i = 0; i < 8; i++) {
                    sum += (cur >> i) & 0b0000_0001;
                }
                return sum;
            },
            0,
        );
        const max = book.attr.totalPageCount;
        const percentage = Math.floor((sum / max) * 100);
        return percentage;
    } else {
        return 0;
    }
})();
const latestReadDate = book.status.progresses[0].termEnd;
const latestMemo = book.status.progresses[0].memo;
---

<li class="book-card">
    <h2 class="title">{title}</h2>
    <img src={attr.imageUrl} alt="書影" class="book-image" />
    <p class="memo">{latestMemo}</p>
    <div class="progress">
        <ProgressBar value={readStatus} />
    </div>
    <p class="latest-read">{latestReadDate}</p>
</li>

<style>
    .book-card {
        list-style: none;
        display: grid;
        grid-template-columns: 2fr 20px 1fr;
        grid-template-rows: 3rem 5rem 3rem 10pt;
        border-top: 1px solid #ddd;
        padding-block: 1rem;
    }
    .book-card:hover {
    }
    .title {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 14pt;
    }
    .book-image {
        grid-column: 3/4;
        grid-row: 1/5;
    }
    .memo {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .progress {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .latest-read {
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 8pt;
        align-self: end;
        color: #bbb;
    }
    p {
        margin: 0;
    }
    h2 {
        margin: 0;
    }
</style>
