---
import Common from "./Common.astro";
import Md from "./Md.astro";
const { frontmatter } = Astro.props;
---

<Common
  url={Astro.url.href}
  type="article"
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.thumbnail}
>
  <h1>{frontmatter.title}</h1>
  <Md>
    <slot />
  </Md>
  <p class="credit">{frontmatter.date}, 書いた人: {frontmatter.author}</p>
  <a
    href="https://twitter.com/share?ref_src=twsrc%5Etfw"
    class="twitter-share-button"
    data-text={frontmatter.title + "\n" + frontmatter.description}
    data-url={Astro.url.href}
    data-dnt="true"
    data-show-count="false">Tweet</a
  >
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
  ></script>
</Common>

<style>
  .credit {
    color: rgb(189, 189, 189);
    font-size: 10pt;
  }
</style>
