---
import Common from "./Common.astro";
import Md from "./Md.astro";
import { Temporal } from "temporal-polyfill";
const { frontmatter } = Astro.props;
---

<Common
  url={Astro.url.href}
  type="article"
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.thumbnail}
>
  <h1>{frontmatter.title}</h1>
  <Md>
    <slot />
  </Md>
  <p class="credit">
    {Temporal.PlainDate.from(frontmatter.pubDate.slice(0, 10)).toString()},
    書いた人: {frontmatter.author}
  </p>
  <a
    href="https://twitter.com/share?ref_src=twsrc%5Etfw"
    class="twitter-share-button"
    data-text={frontmatter.title + "\n" + frontmatter.description}
    data-url={Astro.url.href}
    data-dnt="true"
    data-show-count="false">Tweet</a
  >
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
  ></script>

  <!-- KaTeX -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
    integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn"
    crossorigin="anonymous"
  />

  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"
    integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx"
    crossorigin="anonymous"></script>

  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js"
    integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
    crossorigin="anonymous"
    onload="renderMathInElement(document.body, {
        delimiters: [
          { left: '$$', right: '$$', display: true },
          { left: '$', right: '$', display: false }
        ],
      });"
  ></script>
</Common>

<style>
  .h1 {
    white-space: wrap;
  }
  .credit {
    color: rgb(189, 189, 189);
    font-size: 10pt;
  }
</style>
