---
import Common from "./Common.astro";
import Md from "./Md.astro";
const { frontmatter } = Astro.props;
---

<Common
  url={Astro.url.href}
  type="article"
  title={frontmatter.title}
  description={frontmatter.description}
  image=""
>
  <h1>{frontmatter.title}</h1>
  <Md>
    <slot />
  </Md>
  <p class="credit">{frontmatter.date}, 書いた人: {frontmatter.author}</p>
</Common>

<style>
  .credit {
    color: rgb(189, 189, 189);
    font-size: 10pt;
  }
</style>
