---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Top from "./Top.astro";

const { url, type, title, description, image } = Astro.props;

interface Props {
  url: string;
  type: string;
  title: string;
  description: string;
  image: string;
}
---

<Top
  url={url}
  type={type}
  title={title}
  description={description}
  image={image}
>
  <div
    class="w-full bg-[#f2f2ed] md:bg-white flex flex-col md:flex-row items-center min-h-dvh"
  >
    <Header />
    <div class="flex w-full h-full justify-center">
      <div
        class="mx-12 md:min-w-120 md:w-1/2 md:border md:border-[#d56a8a] md:rounded-4xl md:my-12 md:p-10 md:mx-40"
      >
        <slot />
      </div>
    </div>
    <Footer />
  </div>
</Top>

<style></style>

<!--
<style>
  .container {
    container-type: inline-size;
  }
  .sizer {
  }
  .centerpart {
    margin-inline: auto;
    margin-block: 3rem;
    padding-inline: 5rem;
    padding-block: 2rem;
    min-width: 320px;
    width: 60%;
    max-width: 840px;
    border: 1px solid #d56a8a;
    border-radius: 20pt;
  }
  @container (max-width: 768px) {
    .sizer {
      background-color: #f2f2ed;
    }
    .centerpart {
      margin-block: 0;
      padding-block: 0;
      padding-inline: 0;
      border: none;
    }
  }
</style>

-->
