---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Top from "./Top.astro";

const { url, type, title, description, image } = Astro.props;

interface Props {
    url: string;
    type: string;
    title: string;
    description: string;
    image: string;
}
---

<Top
    url={url}
    type={type}
    title={title}
    description={description}
    image={image}
>
    <div class="container">
        <div class="leftside">
            <Header />
        </div>
        <div class="rightside">
            <div class="main">
                <slot />
            </div>
            <Footer />
        </div>
    </div>
</Top>
<style>
    .main {
        margin: auto;
        min-width: 320px;
        width: 50%;
    }
</style>
