---
interface Props {
	url: string;
	type: string;
	title: string;
	description: string;
	site_name: string;
	image: string;
}
const url = "";
const type = "";
const { title } = Astro.props;
const description = "";
const site_name = "家";
const image = "";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="宇田の家" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:url" content={url} />
		<meta property="og:type" content={type} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content={site_name} />
		<meta property="og:image" content={image} />
		<title>{title + " - 家"}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap");
	@font-face {
		font-family: "Kosugi";
		src: url("/fonts/kosugi_subset.woff2") format("woff2");
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "BIZ UDPGothic", sans-serif;
		background: #ffffff;
		background-size: 224px;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		color: #1d1d1d;
	}
	body {
		margin: auto;
		min-width: 320px;
		min-height: 100vh;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	a {
		color: #4c5794;
		text-decoration: none;
	}
	ul {
		list-style: url("/triangle.svg");
	}
	ol {
		list-style: decimal;
	}
</style>
